## Importing External Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

## Importing Data From CSV

In [2]:
imported_data = open('data.csv', 'r')

df = pd.DataFrame(data=imported_data)

*Testing*

In [3]:
df.head()

                                                   0
0         1,http://www.liquidgeneration.com/,Adult\n
1              2,http://www.onlineanime.org/,Adult\n
2  3,http://www.ceres.dti.ne.jp/~nekoi/senno/senf...
3               4,http://www.galeon.com/kmh/,Adult\n
4              5,http://www.fanworkrecs.com/,Adult\n

In [6]:
df.sample(300)

                                                         0
1384232  1384233,http://members.tripod.com/rosaryarmy/i...
199632                  199633,http://www.kontra.ba,Arts\n
1137675        1137676,http://www.fireborn.com/,Shopping\n
211048           211049,http://www.davecrimmen.com/,Arts\n
69430      69431,http://the_night_world.tripod.com/,Arts\n
...                                                    ...
1277920  1277921,http://www.littlebluedog.com/outlines....
782735       782736,http://www.ericksonsoftware.com,Home\n
1364051    1364052,http://www.swordsearcher.com/,Society\n
936577   936578,http://baseportal.com/baseportal/basepo...
1362246  1362247,http://www.luther.de/e/index.html,Soci...

[300 rows x 1 columns]